<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="w-full h-screen bg-black flex items-center justify-center">
        <form method="POST" action="/login" class="flex flex-col items-center justify-center h-full text-black cursor-pointer">
          <h3 class="text-3xl mb-3">login User</h3>  
            <input type="email" name="email" placeholder="email" class="p-2 m-2 rounded-lg
            outline-none ">
            
            <input type="password" name="password" placeholder="password" class="p-2 m-2 rounded-lg
            outline-none ">
            <button type="submit" class="p-2 m-2 bg-blue-500 rounded-lg">Login</button>
    </div>
    
</body>
</html>