<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="w-full h-screen bg-black flex items-center justify-center">
        <form method="POST" action="/register" class="flex flex-col items-center justify-center h-full text-black cursor-pointer">
            <h2 class=text-white>UPLOAD FILE</h2>
            <form autocomplete="off" action="/upload" method="POST" enctype="multipart/form-data">
                <input type="file" name="image" class="p-2 m-2 rounded-lg outline-none ">
                <button type="submit" class="p-2 m-2 bg-blue-500 rounded-lg " value="no file chosen">UPLOAD</button>
            
            <p class="text-blue-500"><a href="/login">Go to login page</a></p>
    </div>
    
</body>
</html>